@model IEnumerable<IDictionary<string, object>>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="class">Custom Data Manager</h1>
    <h3>We are currently keeping track of @Model.ToList().Count operations!</h3>
    <button class="btn-outline-dark" onclick="location.reload()">Refresh</button>
    <table class="table-bordered" width="1000px">
        <tr>
            <td>Date</td>
            <td>User</td>
            <td>Operation</td>
            <td>Result</td>
            <td>GUID</td>
        </tr>
    </table>
</div>
