@{
    ViewData["Title"] = "Home Page";
}

<div class="main-div">
    <div class="view" id="page1">
        <div class="custom-body" >
            <div class="search">
            </div>
            <div class="loading">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="results">
                <img class="no-results message-to-be-hidden" src="/css/NoResultsImage.png" />
                <table oncontextmenu="return false;" id="table-result" class="justify-content-between table-to-be-hidden">
                </table>
            </div>
        </div>
    </div>
    <div class="view hide" id="page2">
        <div class="create-model-view">
            <div class="model-list">
                <div class="add-model-button" onclick="ShowCreateModelFormCreate(); ResetForm();">+ New Model</div>
                <div class="all-models"></div>
            </div>
            <form name="MyForm" id="create-model-form" class="create-model-form" onsubmit="validateNameForModel()">
                <div class="create-model-form-element-for-name-and-password">
                    <input name="Name" required class="new-model-name" for="new-model-name" placeholder="Name" />
                    <input required class="new-model-description" for="new-model-description" placeholder="Description" />
                    
                </div>
                <div class="create-model-form-element-for-custom-fields">
                    <div class="added-columns-list">
                    </div>
                    <div class="add-new-text-column" onclick="AddTextColumn()">+ New Column</div>
                </div>
                <div>
                    <input  class="submit-button-for-create-model" type="submit" name="Create Model" value="Create Model" />
                </div>
                <div>
                    <button type="button" onclick="ConfirmResetModelForm('Reset Form', 'Are you sure you want to COMPLETELY RESET this form? This action CANNOT be undone!', 'Confirm', 'Cancel')" class="clear-create-model-form-button">Reset</button>                
                </div>
            </form>
        </div>
    </div>
</div>
