@model IEnumerable<IDictionary<string, object>>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="class">Custom Data Manager</h1>
    <button class="btn-outline-dark" onclick="location.reload()">Refresh</button>
    <table class="table-bordered" width="1000px">
        <tr>
            <th>№</th>
            <th>Date</th>
            <th>User</th>
            <th>Operation</th>
            <th>Result</th>
            <th>GUID</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td></td>
        @foreach (var data in item)
        {
            <td>@data.Value</td>
        }
    </tr>        
        }
    </table>
</div>
