@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form asp-action="SearchResult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        Time
        <select class="form-control">
            <option>30 minutes ago</option>
            <option>1 hour ago</option>
            <option>3 hours ago</option>
            <option>8 hours ago</option>
            <option>12 hours ago</option>
            <option>24 hours ago</option>
        </select>
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label  class="control-label"></label>
        <input  class="form-control" />
        <span  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label  class="control-label"></label>
        <input  class="form-control" />
        <span  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label  class="control-label"></label>
        <input  class="form-control" />
        <span  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label  class="control-label"></label>
        <input class="form-control" />
        <span  class="text-danger"></span>
    </div>
    <div class="form-group">
        <input style="width:318px;" type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

