@model  Controllers.SearchModel
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form asp-action="SearchResult">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        Time
        <select asp-for="Time" class="form-control">
            <option>1 hour ago</option>
            <option>3 hours ago</option>
            <option>8 hours ago</option>
            <option>30 minutes ago</option>
            <option>12 hours ago</option>
        </select>
        <span asp-validation-for="Time" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User" class="control-label"></label>
        <input asp-for="User" class="form-control" />
        <span asp-validation-for="User" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Operation" class="control-label"></label>
        <input asp-for="Operation" class="form-control" />
        <span asp-validation-for="Operation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Result" class="control-label"></label>
        <input asp-for="Result" class="form-control" />
        <span asp-validation-for="Result" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input style="width:318px;" type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

