html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-y: scroll;
    height: 100%;
}

.custom-body {
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

table, th, tr, td {
    border: 1px solid #007bff;
}

table {
    user-select: none;
    position: sticky;
    text-align: left;
    align-content: center;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    border-top: 2px solid #007bff;
    border-bottom: 2px solid #007bff;
    border-right: 2px solid #007bff;
    align-self: flex-start;
    position: sticky;
    top: 80px;
    padding: 10px;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
}

td {
    border-bottom: 1px solid #007bff;
    border-right: 1px solid #007bff;
}

th:first-child {
    border-left: 2px solid #007bff;
}

td:first-child {
    border-left: 1px solid #007bff;
}

tbody:first-child {
    border-radius: 5px;
}

.data-row > td {
    text-align: left;
    padding: 5px 10px;
    user-select: none;
}

    .data-row > td:hover:not(:first-child):not(.Date) {
        cursor: pointer;
        background-color: #007bff;
        color: white;
        border: 1px solid;
        border-radius: 1px;
    }

#form {
    padding: 10px;
    border: solid 2px #007bff;
    border-radius: 10px;
}

.context-menu {
    position: absolute;
    border: solid 1px;
    border-radius: 1px;
    box-shadow: 1px 1px 2px 1px black;
}

.current-target-for-context-menu {
    background-color: #007bff;
    color: white;
    border: 1px solid;
    border-radius: 1px;
}

.context-menu-option {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

    .context-menu-option:hover:not(.unavailable-option) {
        background-color: #007bff;
        color: white;
        border: 1px solid;
        border-radius: 1px;
    }

    .context-menu-option:hover:not(:first-child):not(.unavailable-option) {
        border-top: solid 2px black;
    }

    .context-menu-option:hover:not(:last-child):not(.unavailable-option) {
        border-bottom: solid 2px black;
    }

.context-menu-option-emoji {
    width: 35px;
}

.context-menu-option-name {
    width: 210px;
}

.context-menu-option-shortcut {
    width: 55px;
}

.custom-context-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999;
    backdrop-filter: blur(0.6px);
    position: absolute;
    display: none;
    width: 100%;
    background: rgba(0, 0, 0, .3);
}

.unavailable-option {
    cursor: default;
    background: grey;
}

.navbar-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: 3px solid #007bff;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbar-button-line {
    margin-left: 5%;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbar-button:hover .navbar-button-line {
    width: 90%;
}

.navbar-button-line-first {
    width: 50%;
}

.navbar-button-line-second {
    width: 25%;
}

.navbar-button-line-third {
    width: 0%;
}

.model-name-header {
    font-size: 45px;
    text-align: center;
}

.navbar {
    padding: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 140px;
    height: auto;
    border: solid 3px #007bff;
    background: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 5px;
}

.navbar-option {
    width: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    padding: 10px;
}

    .navbar-option:first-child {
        border-bottom: solid 2px #007bff;
    }

    .navbar-option:hover {
        width: 100%;
        background-color: #007bff;
        color: white;
    }

.create-model-view {
    display: flex;
    flex-direction: row;
}

.model-list {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding: 10px;
    margin-left: 10px;
    border: 3px solid #007bff;
    border-radius: 5px;
}

.all-models {
    top: 80px;
    display: flex;
    flex-direction: column;
}

.model-name-for-all-models-list {
    margin-top: 5px;
    text-align: start;
    align-self: center;
}

.add-model-button {
    cursor: pointer;
    width: 100%;
    height: auto;
    border: solid 3px white;
    border-bottom: solid 3px #007bff;
    padding: 10px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .add-model-button:hover {
        width: 100%;
        background-color: #007bff;
        color: white;
        border: solid 3px #007bff;
        border-radius: 5px;
    }

.custom-navbar {
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #007bff;
}

.main-wrapper-from-mcs {
    position: absolute;
    top: 80px;
}

.results {
    top: 80px;
    align-self: flex-start;
    margin: 40px;
    background-color: white;
}

table tr:nth-child(2) {
    counter-reset: rowNumber;
}

tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.table-to-be-hidden {
    vertical-align: top;
    display: none;
}

.data-row {
    text-align: center;
}

.custom-table-heading {
    text-align: center;
}

.loading {
    display: none;
    left: 48%;
    top: 40%;
    height: 48px;
    width: 48px;
    color: #5a5a5a;
    position: fixed;
    display: inline-block;
}

    .loading div {
        border-radius: 50%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: rotateTest1 1s linear infinite;
        box-sizing: border-box;
    }

        .loading div:nth-child(1) {
            height: 20%;
            width: 20%;
            animation-delay: 0.05s;
        }

        .loading div:nth-child(2) {
            height: 40%;
            width: 40%;
            animation-delay: .1s;
        }

        .loading div:nth-child(3) {
            height: 60%;
            width: 60%;
            animation-delay: .15s;
        }

        .loading div:nth-child(4) {
            height: 80%;
            width: 80%;
            animation-delay: .2s;
        }

        .loading div:nth-child(5) {
            height: 100%;
            width: 100%;
            animation-delay: .25s;
        }

@keyframes rotateTest1 {
    50% {
        transform: rotate(360deg);
    }
}

.message-to-be-hidden {
    display: none;
}

.search {
    position: sticky;
    top: 80px;
    align-self: flex-start;
    margin: 40px;
    background-color: white;
}

.hide {
    display: none;
}

.no-results {
    position: absolute;
    top: 100px;
    left: 500px;
    width: 700px;
    height: 500px;
}

.create-model-form-element-for-name-and-password {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.create-model-form-element-for-custom-fields {
    display: flex;
    flex-direction: column;
}

.create-model-form {
    display: none;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 20px;
}

.add-new-text-column {
    min-width: 540px;
}

.add-new-text-column, .add-new-enum-column, .submit-button-for-create-model {
    border-radius: 5px;
    border: solid 3px white;
    padding: 7px;
    border-bottom: solid 3px #007bff;
    cursor: pointer;
    width: auto;
    height: auto;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .add-new-text-column:hover, .add-new-enum-column:hover, .submit-button-for-create-model:hover {
        background-color: #007bff;
        color: white;
        border: solid 3px #007bff;
        border-radius: 5px;
    }

.add-new-enum-column {
    min-width: 190px;
    margin: 5px;
    margin-bottom: 7px;
    padding: 2px;
    padding-bottom: 0;
}

.create-model-form-element-for-custom-fields {
    width: auto;
}

.model-name-for-all-models-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
}

.delete-model-button {
    cursor: pointer;
    width: auto;
    height: auto;
    text-align: center;
    background-color: white;
    color: red;
    align-self: end;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    border: 2px solid white;
    border-radius: 5px;
}

    .delete-model-button:hover {
        border: 2px solid red;
        color: white;
    }

.model-name-button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #007bff;
    text-decoration-thickness: 2px;
    text-decoration-skip: ink;
    text-decoration-style: solid;
}

.clear-search-form-button {
    width: 100px;
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
}

    .clear-search-form-button:hover {
        background-color: red;
        color: white;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

.search-form-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    font-family: sans-serif
}

.dialog-ovelay {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%, -50%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    background-color: rgba(0,0,0,.5);
}

    .dialog-ovelay .dialog {
        width: 400px;
        margin: 100px auto 0;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,.5);
        border-radius: 3px;
        overflow: hidden
    }

        .dialog-ovelay .dialog header {
            padding: 10px 8px;
            background-color: #f6f7f9;
            border-bottom: 1px solid #e5e5e5
        }

            .dialog-ovelay .dialog header h3 {
                font-size: 14px;
                margin: 0;
                color: #555;
                display: inline-block
            }

            .dialog-ovelay .dialog header .fa-close {
                float: right;
                color: #c4c5c7;
                cursor: pointer;
                transition: all .5s ease;
                padding: 0 2px;
                border-radius: 1px
            }

                .dialog-ovelay .dialog header .fa-close:hover {
                    color: #b9b9b9
                }

                .dialog-ovelay .dialog header .fa-close:active {
                    box-shadow: 0 0 5px #673AB7;
                    color: #a2a2a2
                }

        .dialog-ovelay .dialog .dialog-msg {
            padding: 12px 10px
        }

            .dialog-ovelay .dialog .dialog-msg p {
                margin: 0;
                font-size: 15px;
                color: #333
            }

        .dialog-ovelay .dialog footer {
            border-top: 1px solid #e5e5e5;
            padding: 8px 10px
        }

            .dialog-ovelay .dialog footer .controls {
                direction: rtl
            }

                .dialog-ovelay .dialog footer .controls .button {
                    padding: 5px 15px;
                    border-radius: 3px
                }

.button-default {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}

.button-danger {
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5
}

.btnDisable {
    background-color: #FCBABA;
    border: 1px solid #DD3939;
    color: #232323;
    cursor: not-allowed;
}

.create-model-form-element-for-name-and-password, .model-list {
    position: sticky;
    top: 80px;
    align-self: flex-start;
}

.values-list{
    display: flex;
    flex-direction: column;
}

.new-model-internal-name, .new-model-dispay-name {
    height: auto;
    align-self: flex-start;
}

.field-column-input {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #007bff;
    border-radius: 5px;
}

input{
    border: 0;
    border-bottom: 2px solid #007bff;
    outline: 0;
    margin: 7px;
    background: transparent;
    transition: border-color 0.2s;
}

.submit-button-for-create-model {
    position: sticky;
    top: 80px;
    height: auto;
    align-self: flex-start;
    font-size: 32px;
}

.new-model-name{
    margin-bottom: 20px;
}

.new-model-description{
    margin-bottom: 20px;
}

.clear-create-model-form-button {
    position: sticky;
    top: 80px;
    height: auto;
    align-self: flex-start;
    width: 100px;
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 5px;
    padding: 15px;
    margin: 20px;
}

    .clear-create-model-form-button:hover {
        background-color: red;
        color: white;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

.delete-value-button{
    position: relative;
    top: -35px;
    right: -180px;
    padding: 0;
    font-size: smaller;
    background: white;
    align-self: flex-start;
    border: white solid 1.5px;
    border-radius: 5px;
}

.delete-value-button:hover {
    border-color: red;
}