html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    user-select: none;
    overflow-y: scroll;
}

.custom-body {
    display: flex;
    flex-direction: row;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

table {
    user-select: none;
    position: sticky;
    text-align: left;
    align-content: center;
}

table, th, tr, td {
    border: 1px solid #007bff;
}

.data-row > td {
    text-align: left;
    padding: 5px 10px;
    user-select: none;
}

    .data-row > td:hover:not(:first-child):not(.Date) {
        cursor: pointer;
        background-color: #007bff;
        color: white;
        border: 1px dashed;
        border-radius: 1px;
    }

#form {
    padding: 10px;
    border: solid 2px #007bff;
    border-radius: 10px;
}

.context-menu {
    position: absolute;
    border: solid 1px;
    border-radius: 1px;
    box-shadow: 1px 1px 2px 1px black;
}

.current-target-for-context-menu {
    background-color: #007bff;
    color: white;
    border: 1px dashed;
    border-radius: 1px;
}

.context-menu-option {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

    .context-menu-option:hover:not(.unavailable-option) {
        background-color: #007bff;
        color: white;
        border: 1px solid;
        border-radius: 1px;
    }

    .context-menu-option:hover:not(:first-child):not(.unavailable-option) {
        border-top: solid 2px black;
    }

    .context-menu-option:hover:not(:last-child):not(.unavailable-option) {
        border-bottom: solid 2px black;
    }

.context-menu-option-emoji {
    width: 35px;
}

.context-menu-option-name {
    width: 210px;
}

.context-menu-option-shortcut {
    width: 55px;
}

.custom-context-menu-wrapper {
    backdrop-filter: blur(0.6px);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

.unavailable-option {
    cursor: default;
    background: grey;
}

.navbar-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: 3px solid #007bff;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbar-button-line {
    margin-left: 5%;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.navbar-button:hover .navbar-button-line {
    width: 90%;
}

.navbar-button-line-first {
    width: 50%;
}

.navbar-button-line-second {
    width: 25%;
}

.navbar-button-line-third {
    width: 0%;
}

.model-name-header {
    font-size: 45px;
    text-align: center;
}

.navbar {
    padding: 0;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 140px;
    height: auto;
    border: solid 3px #007bff;
    background: white;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    border-radius: 5px;
}

.navbar-option {
    width: 100%;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    padding: 10px;
}

    .navbar-option:first-child {
        border-bottom: solid 2px #007bff;
    }

    .navbar-option:hover {
        width: 100%;
        background-color: #007bff;
        color: white;
    }

.create-model-view {
    display: flex;
    flex-direction: row;
}

.model-list {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    border: 3px solid #007bff;
    border-radius: 5px;
}

.all-models {
    display: flex;
    flex-direction: column;
}

.add-model-button {
    cursor: pointer;
    width: 100%;
    height: auto;
    border: solid 3px #007bff;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .add-model-button:hover {
        width: 100%;
        background-color: #007bff;
        color: white;
    }

.create-model-form:not(:first-child) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.custom-navbar {
    height: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #007bff
}

.main-wrapper-from-mcs {
    position: absolute;
    top: 80px;
}

.results {
    top: 80px;
    align-self: flex-start;
    margin: 40px;
    background-color: white;
}

table tr:nth-child(2) {
    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }

.table-to-be-hidden {
    vertical-align: top;
    display: none;
}

.data-row {
    text-align: center;
}

.custom-table-heading {
    text-align: center;
}

.loading {
    display: none;
    left: 48%;
    top: 40%;
    height: 48px;
    width: 48px;
    color: #5a5a5a;
    position: fixed;
    display: inline-block;
}

    .loading div {
        border-radius: 50%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 3px solid;
        border-top-color: transparent;
        border-bottom-color: transparent;
        animation: rotateTest1 1s linear infinite;
        box-sizing: border-box;
    }

        .loading div:nth-child(1) {
            height: 20%;
            width: 20%;
            animation-delay: 0.05s;
        }

        .loading div:nth-child(2) {
            height: 40%;
            width: 40%;
            animation-delay: .1s;
        }

        .loading div:nth-child(3) {
            height: 60%;
            width: 60%;
            animation-delay: .15s;
        }

        .loading div:nth-child(4) {
            height: 80%;
            width: 80%;
            animation-delay: .2s;
        }

        .loading div:nth-child(5) {
            height: 100%;
            width: 100%;
            animation-delay: .25s;
        }

@keyframes rotateTest1 {
    50% {
        transform: rotate(360deg);
    }
}

.message-to-be-hidden {
    display: none;
}

.search {
    position: sticky;
    top: 80px;
    align-self: flex-start;
    margin: 40px;
    background-color: white;
}

.hide {
    display: none;
}

.no-results {
    position: absolute;
    top: 10%;
    left: 100%;
}