html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    user-select: none;
    overflow-y: scroll;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.custom-body {
    display: flex;
    flex-direction: row;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

table {
    user-select: none;
}

.data-row > td {
    text-align: left;
    padding: 5px 10px;
    user-select: none;
}

    .data-row > td:hover:not(:first-child):not(.Date) {
        cursor: pointer;
        background-color: #007bff;
        color: white;
        border: 1px dashed;
        border-radius: 1px;
    }

#form {
    padding: 10px;
    border: solid 2px #007bff;
    border-radius: 10px;
}

.contextMenu {
    position: absolute;
    border: solid 1px;
    border-radius: 1px;
    box-shadow: 1px 1px 2px 1px black;
}

.contextMenuOption {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-items: baseline;
    padding: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

    .contextMenuOption:hover {
        background-color: #007bff;
        color: white;
        border: 1px solid;
        border-radius: 1px;
    }

        .contextMenuOption:hover:not(:first-child) {
            border-top: solid 2px black;
        }
        .contextMenuOption:hover:not(:last-child) {
            border-bottom: solid 2px black;
        }

        .context-menu-option-emoji {
            width: 35px;
        }

.context-menu-option-name{
    width: 210px;
}

.context-menu-option-shortcut {
    width: 55px;
}

.custom-context-menu-wrapper {
    backdrop-filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
