<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DataManagementAndDisplay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main-wrapper-from-mcs">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <header class="custom-navbar">
            <h1 class="model-name-header" style="">Model Name Here</h1>
        </header>
        <div class="navbar-button">
            <div class="navbar-button-line navbar-button-line-first"> </div>
            <div class="navbar-button-line navbar-button-line-second"> </div>
            <div class="navbar-button-line navbar-button-line-third"> </div>
        </div>
        <div class="navbar">
            <div class="navbar-option navbar-option-view-model">➧View Model</div>
            <div class="navbar-option navbar-option-create-model">Create Model</div>
        </div>
        <div class="scripts">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/data.js" asp-append-version="true"></script>
            <script src="~/js/context-menu.js" asp-append-version="true"></script>
            <script src="~/js/swap-view.js" asp-append-version="true"></script>
            <script src="~/js/navbar.js" asp-append-version="true"></script>
            <script src="~/js/create-model.js" asp-append-version="true"></script>
        </div>
        <div class="custom-context-menu-wrapper" oncontextmenu="return false;">
            <div class="context-menu">
                <div class="context-menu-option context-menu-option-fill-in-table">
                    <div class="context-menu-option-emoji context-menu-option-fill-in-table">🔎</div>
                    <div class="context-menu-option-name context-menu-option-fill-in-table">Use in search</div>
                    <div class="context-menu-option-shortcut context-menu-option-fill-in-table">Ctrl+🖱️</div>
                </div>
                <div class="context-menu-option context-menu-option-go-to-the-top">
                    <div class="context-menu-option-emoji context-menu-option-go-to-the-top">⬆️</div>
                    <div class="context-menu-option-name context-menu-option-go-to-the-top">Go to the top</div>
                    <div class="context-menu-option-shortcut context-menu-option-go-to-the-top">Ctrl+⬆️</div>
                </div>
            </div>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
